<h1><%= @user.name %></h1>
<hr>
<%= link_to "Edit Profile", edit_user_path(@user) %>
<hr>
  <h4>New Secret:</h4>
  <form action="/secrets" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <textarea name="secret[content]" rows="8" cols="30"></textarea>
      <br><br>
      <input type="submit" value="Create Secret">
  </form>
<br><br>
<a href="/secrets"><button>View All Secrets</button></a>

<h1>My Secrets</h1><hr>
<%  @user.secrets.each do |secret| %>
  <table border="1", width="450">
    <tr>
      <td><%= secret.content %><br><br> Likes:<%= secret.likes.count %> <br>
  <% if secret.user == current_user %>
    <br><form action="/secrets/<%= secret.id %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" name="" value="Delete Secret">
    </form>
  <% end %>
    </td>
  </tr>
  </table>
<% end %>

<!-- <table>
  <tr>
    <th>Secrets</th>
  </tr>
  <tr>
    <td>
  </tr>
</table> -->
