<hr>
<h1>Secrets</h1>
<hr>
<br><a href="/users/<%= current_user.id %>"><button>Home Page/Dashboard</button></a>

<hr><hr>
<% @secrets.all.each do |secret| %>
	<table border="1", width="500">
		<tr>
			<td><h3><%= secret.content %></h3>
			<h5>Likes:<%= secret.likes.count %></h5>
			<% if secret.user == current_user %>
				<form action = "/secrets/<%= secret.id %>" method = "post">
				    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
						<input type="hidden" name="_method" value="delete">
						<input type = 'submit' value = "Delete Secret">
				</form>
			<% end %>
			<% unless secret.users.include?(current_user) %>
				<form action="/likes" method="post">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="hidden" name="like[secret_id]" value="<%= secret.id %>">
					<input type="submit" name="Like" value="Like">
				</form>
			<% else %>
				<form action="/likes/<%= Like.where(user: current_user, secret: secret).first.id %>" method="post">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="hidden" name="_method" value="Delete">
					<input type="submit" name="Unlike" value="Unlike">
				</form>
			</td>
		</tr>
			<% end %>
	</table>

<% end %>
